<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   
    <p>This email is send by: <%= @s_email %> <br>
    have a look at this blog <%= @url%>.
    </p>
   
  </body>
</html>